.col-full {
  padding: 0 !important; }

a:focus,
.focus a {
  outline: none !important; }

.side-header {
  padding-top: 0;
  margin-top: 0; }

#masthead .col-full li a {
  color: #fff; }
@media (min-width: 768px) {
  #masthead .col-superior {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); } }
#masthead .col-superior .site-branding img {
  max-width: 160px; }
#masthead .menu-item {
  padding: 7px 7px; }
  #masthead .menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0px; }
    #masthead .menu-item a:hover {
      border-bottom: 1.5px solid rgba(255, 255, 255, 0.8); }
#masthead .current_page_item a {
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.8); }
@media (max-width: 767.98px) {
  #masthead .storefront-primary-navigation {
    background: black;
    padding: 20PX 0; } }
@media (max-width: 767.98px) {
  #masthead .storefront-primary-navigation .menu li a {
    text-decoration: none;
    text-transform: uppercase; } }
@media (max-width: 767.98px) {
  #masthead {
    margin-top: 0px !important; } }
@media (max-width: 767.98px) {
  #masthead .site-branding {
    margin-top: 10px; } }

.container-carrousel {
  padding: 0 !important; }
  .container-carrousel input[type=search] {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px; }
  .container-carrousel .widger_product_search form:before {
    color: #f8f9fa; }
  .container-carrousel #carouselExampleIndicators .carousel-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 600px; }
    @media (max-width: 767.98px) {
      .container-carrousel #carouselExampleIndicators .carousel-item {
        height: 550px; } }
  .container-carrousel #carouselExampleIndicators button {
    font-size: 36px;
    opacity: inherit; }
    .container-carrousel #carouselExampleIndicators button:hover {
      background-color: transparent; }
  .container-carrousel #carouselExampleIndicators:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .container-carrousel #masthead {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    margin-top: 20px;
    margin-bottom: 0px;
    border-bottom-color: transparent; }

.storefront-primary-navigation .menu-toggle {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.9); }
  .storefront-primary-navigation .menu-toggle:focus {
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.9); }
.storefront-primary-navigation button.menu-toggle:after, .storefront-primary-navigation button.menu-toggle:before, .storefront-primary-navigation button.menu-toggle span:before {
  background-color: #fff; }

@media (min-width: 768px) {
  .backgroundMenuAnimate {
    background: black !important;
    margin-top: 0px !important;
    padding-top: 20px; } }

footer .footer-widgets {
  width: 100% !important; }
  footer .footer-widgets .widget_block {
    margin-bottom: 14px; }
    footer .footer-widgets .widget_block ul {
      padding: 0; }
  footer .footer-widgets a {
    text-decoration: none; }
    footer .footer-widgets a:hover {
      text-decoration: underline; }
footer .site-info {
  text-align: center; }

@media (min-width: 768px) {
  .site-header-pages {
    padding: 20px 0;
    position: fixed;
    width: 100%; } }
@media (max-width: 767.98px) {
  .site-header-pages {
    height: 300px;
    position: fixed;
    width: 100%; } }

@media (min-width: 768px) {
  .storefront-breadcrumb {
    margin-top: 200px !important;
    margin-bottom: 20px !important; } }
@media (max-width: 767.98px) {
  .storefront-breadcrumb {
    margin-top: 320px !important; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .storefront-breadcrumb {
    margin-top: 250px !important;
    margin-bottom: 20px !important; } }

.home .row-container {
  background-color: #f0f0f0;
  text-align: center; }
  .home .row-container .icon {
    font-size: 32px; }
  @media (min-width: 768px) {
    .home .row-container div:nth-child(2) .contenido {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc; } }
.home #content header {
  display: none; }

/*# sourceMappingURL=atr-public.css.map */
